body {
    margin: 0;
}

.box {
    color: white;
    font-size: 100px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0,0,0,0,0.1);
    padding: 10px;
    height: 20vh;
}

.box1 { background-color: #e7299e; }
.box2 { background-color: #3498db; }
.box3 { background-color: #9b59b6; }
.box4 { background-color: #34495e; }
.box5 { background-color: #f1c40f; }
.box6 { background-color: #e67e22; }
.box7 { background-color: #e74c3c; }
.box8 { background-color: #bdc3c7; }
.box9 { background-color: #2ecc71; }
.box10 { background-color: #16a085; }

.title {
    text-align: center;
}

.flex {
    display: flex;
}

/* FLEX DIRECTION: ROW, COLUMN, ROW-REVERSE & COLUMN-REVERSE */
.container-flexDirection {
    border: 5px solid black;
}
.containerFlexDirection {
    flex-direction: row; /* Valor por defecto*/
}

.containerFlexDirectionRowReverse {
    flex-direction: row-reverse;
}

.containerFlexDirectionColumn {
    flex-direction: column;
}

.containerFlexDirectionColumnReverse {
    flex-direction: column-reverse;
}

/* FLEX WRAP: NOWRAP, WRAP & WRAP-REVERSE */
.container-flexWrap {
    border: 5px solid red;
}

.container-flexWrap > div >.box {
    width: 350px;
}

.containerUnwrap {
    flex-wrap: nowrap;
}

.containerWrap {
    flex-wrap: wrap;
}

.containerWrapReverse {
    flex-wrap: wrap-reverse;
}

/* FLEX ORDER */
.container-flexOrder {
    border: 5px solid purple;
}

.containerOrder > .box {
    flex: 1;
    /*order: 0; Es el valor por defecto*/
}

.containerOrder > .box3 {
    order: 1;
}

.containerOrder > .box7 {
    order: 5;
}

.containerOrderNeg > .box {
    flex: 1;
    order: 1;
}

.containerOrderNeg > .box3 {
    order: -2;
}

.containerOrderNeg > .box7 {
    order: -1;
}

/