body {
    margin: 0;
}

.box {
    color: white;
    font-size: 100px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0,0,0,0,0.1);
    padding: 10px;
    max-height: 20vh;
}

.box1 { background-color: #e7299e; }
.box2 { background-color: #3498db; }
.box3 { background-color: #9b59b6; }
.box4 { background-color: #34495e; }
.box5 { background-color: #f1c40f; }
.box6 { background-color: #e67e22; }
.box7 { background-color: #e74c3c; }
.box8 { background-color: #bdc3c7; }
.box9 { background-color: #2ecc71; }
.box10 { background-color: #16a085; }

.title {
    text-align: center;
}

.flex {
    display: flex;
}

/* FLEX DIRECTION: ROW, COLUMN, ROW-REVERSE & COLUMN-REVERSE */
.containerFlexDirection {
    flex-direction: row; /* Valor por defecto*/
}

.containerFlexDirectionRowReverse {
    flex-direction: row-reverse;
}

.containerFlexDirectionColumn {
    flex-direction: column;
}

.containerFlexDirectionColumnReverse {
    flex-direction: column-reverse;
}

/* FLEX WRAP: NOWRAP, WRAP & WRAP-REVERSE */
.container-flexWrap > div >.box {
    width: 350px;
}

.containerUnwrap {
    flex-wrap: nowrap;
}

.containerWrap {
    flex-wrap: wrap;
}

.containerWrapReverse {
    flex-wrap: wrap-reverse;
}

/* FLEX ORDER */
.containerOrder > .box {
    flex: 1;
    /*order: 0; Es el valor por defecto*/
}

.containerOrder > .box3 {
    order: 1;
}

.containerOrder > .box7 {
    order: 5;
}

.containerOrderNeg > .box {
    flex: 1;
    order: 1;
}

.containerOrderNeg > .box3 {
    order: -2;
}

.containerOrderNeg > .box7 {
    order: -1;
}

/* JUSTIFY CONTENT: FLEX-START, FLEX-END, CENTER, SPACE-EVENLY
SPACE-AROUND, SPACE-BETWEEN */

.containerJustifyContent-flexStart {
    justify-content: flex-start;
}

.containerJustifyContent-flexEnd {
    justify-content: flex-end;
}

.containerJustifyContent-center {
    justify-content: center;
}

.containerJustifyContent-spaceEvenly {
    justify-content: space-evenly;
}
.containerJustifyContent-spaceBetween {
    justify-content: space-between;
}

.containerJustifyContent-spaceAround {
    justify-content: space-around;
}

/* ALIGN-ITEMS: CENTER, FLEX-START, FLEX-END, 
BASELINE, STRECTH*/

.containerAlignItems > div {
    height: 60vh;
}

.containerAlignItems-center {
    align-items: center;
    border: 1px dotted purple;
}

.containerAlignItems-flexStart {
    align-items: flex-start;
    border: 1px dotted blue;
}

.containerAlignItems-flexEnd {
    align-items: flex-end;
    border: 1px dotted green;
}

.containerAlignItems-baseline {
    align-items: baseline;
    border: 1px dotted red;
}

.containerAlignItems-baseline > .box {
    max-height: none;
}

.containerAlignItems-baseline > .box1 {
    font-size: 15px;
}

.containerAlignItems-baseline > .box2 {
    font-size: 35px;
}

.containerAlignItems-baseline > .box3 {
    font-size: 150px;
}

.containerAlignItems-baseline > .box4 {
    font-size: 200px;
}

.containerAlignItems-baseline > .box5 {
    font-size: 10px;
}

.containerAlignItems-baseline > .box10 {
    font-size: 77px;
}

.containerAlignItems-stretch {
    align-items: stretch;
    border: 1px dotted #dbf7a8;
}

.containerAlignItems-stretch > .box {
    max-height: none;
}

/* ALIGN-CONTENT: FLEX-START, FLEX-END, SPACE-BETWEEN, 
SPACE-AROUND, STRETCH & CENTER */
.containerAlignContent > div > .box {
    width: 33.3%;
    padding: 0;
}

.containerAlignContent-flexStart {
    flex-wrap: wrap;
    border: 1px solid orangered;
    height: 100vh; 
    align-content: flex-start;
}

.containerAlignContent-flexEnd {
    flex-wrap: wrap;
    border: 1px solid grey;
    height: 100vh;
    align-content: flex-end;
}

.containerAlignContent-spaceBetween {
    flex-wrap: wrap;
    border: 1px solid aqua;
    height: 100vh;
    align-content: space-between;
}

.containerAlignContent-spaceAround {
    flex-wrap: wrap;
    border: 1px solid #e74c3c;
    height: 100vh;
    align-content: space-around;
}

.containerAlignContent-center {
    flex-wrap: wrap;
    border: 1px solid #ee99ea;
    height: 100vh;
    align-content: center;
}

.containerAlignContent-stretch {
    flex-wrap: wrap;
    border: 1px solid brown;
    height: 100vh;
    align-content: stretch; /* Valor por defecto*/
}

/* ALING-SELF: CENTER, FLEX-START, FLEX-END & BASELINE */

.containerAlignSelf-example {
    height: 100vh;
    border: 3px double palevioletred;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.containerAlignSelf-example > div > .box {
    width: 33.333%;
}

.containerAlignSelf-example > .box3 {
    align-self: center;
}

.containerAlignSelf-example > .box6 {
    align-self: flex-end;
}

.containerAlignSelf-example > .box6 {
    padding-bottom: 0;
}

.containerAlignSelf-example > .box10 {
    align-self: stretch;
    padding-bottom: 50px;
}

/* FLEX PROPERTY: NONE, 1,  */

.containerFlexProperty > div > .box {
    flex: 1;
    font-size: 20px;
}

.containerFlexProperty > .containerFlexProperty-none > .box {
    flex: none;
    font-size: 20px;
}

.containerFlexProperty > .containerFlexProperty-oneThree > .box {
    flex: 1;
    font-size: 20px;
}

.containerFlexProperty > .containerFlexProperty-oneThree > .box3 {
    flex: 2;
}

.containerFlexProperty > .containerFlexProperty-oneThreeNine > .box {
    flex: 1;
    font-size: 20px;
}

.containerFlexProperty > .containerFlexProperty-oneThreeNine > .box3 {
    flex: 2;
}

.containerFlexProperty > .containerFlexProperty-oneThreeNine > .box5 {
    flex: 3;
}
